<div class="container py-5">
    <h1>COVID-19 data for the last 30 days</h1>

    <app-country-form
        class="d-block mt-3"
        (selectedCountry)="changeCountry($event)"
    ></app-country-form>

    <ng-container *ngIf="country$ | async as data">
        <div class="alert alert-warning mt-3" *ngIf="!data.country">
            You have not selected any country!
        </div>

        <div class="alert alert-info mt-3" *ngIf="data.country">
            You have selected <b>{{ data.country }}</b
            >!
        </div>
    </ng-container>

    <ng-container *ngIf="caseData$ | async as caseData">
        <app-display-data
            class="d-block mt-3"
            [data]="caseData"
        ></app-display-data>
    </ng-container>

    <hr>

    <div class="text-center text-muted small">
        Data provided by <a target="_blank" href="https://covid19api.com/">COVID19 API</a>
    </div>
</div>
